html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.header {
    background-color: white;
    display: flex;
    height: 88px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    gap: 16px;
    /* padding-bottom: 10px; */
}

.header__logo {
    margin-right: auto;
    width: 90px;
    height: 60px;
}

.header-checkstatus {
    margin-right: 16px;
}

.header__burger {
    width: 16px;
    height: 16px;
}

.header__call {
    width: 18px;
    height: 18px;
}

.header__chat {
    width: 20px;
    height: 20px;
}

.header__profile {
    width: 20px;
    height: 18px;
}

.header-repair__logo {
    width: 20px;
    height: 20px;
}

.header-checkstatus__logo {
    width: 16px;
    height: 20px;
}

.burger {
    margin-left: 16px;
}

#repair,
#checkstatus {
    font: 16px "TT Lakes"; 
    font-weight: 500; 
    line-height: 24px;
}

body {
    margin: 0;
    padding: 0px;
    font-family: "TT Lakes", sans-serif;
    background-color: #F8F8F8;
}

.main {
    margin: 0px;
    padding: 0px;
}

.title {
    display: flex;
    justify-content: start;
    align-items: center;
}


.title__text{
    margin:0px 0px 0px 10px;
    font-size: 28px;
}

.title {
    margin: 24px 0px;
}

.title__element {
    margin-left: -4px;
    width: 8px;
    border-top: 40px solid #41F6D7;
    border-radius: 5px;
}

.header__elem {
    width: 2px;
    border-top: 32px solid #EAEAEA;
}

.main-menu__list {
    padding-left: 0px;
    margin-top: 0px;
    margin-left: 16px;
    list-style-type: none;
    display: flex;
    overflow: scroll;
}

.main-menu__list::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.main-menu__element {       
    text-wrap: nowrap;
    padding: 8px 16px 8px 16px;
    border: 2px solid #F8F8F8;
}

.main-menu__element:active    {
    background-color: white;    
    border: 2px solid #B8FFEC;
    border-radius: 6px; 
}   

.main-menu__link {
    color: #7E7E82;
    text-decoration: none;
}

.main-menu__gradient {
    background: linear-gradient(to left, #F8F8F8, transparent);
    width: 24px;
    height: 40px;
    position: absolute;
    right: 0px;
}

.description-more {
    display: flex;
    align-items: center;
}

.description-more__text {
    font-size: 16px;
    line-height: 24px;
    color: #1B1C21;
    margin-left: 8px;
    font-weight: 500;
}

.description {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.description-text__p1,
.description-text__p2 {
    font-size: 14px;
    line-height: 20px;
    
}

.description-text__p1 {
    margin-top: 0px;
}

.description-text__p2 {
    display: none;
}

.description-more__img {
    width: 24px;
    height: 24px;
}

.content__img {
    width: 100%;
}

.header-checkstatus__text,
.header-repair__text {
    display: none;
}

.header__icon {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #FF3E79;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden,
.call,
.chat, 
.profile {
    display: none;
}

button {
    padding: 0;
    border: 0;
    background-color: white;
}

.header__icon {
    cursor: pointer;
}

@media (min-width: 768px) {

.hidden,
.call, 
.chat,
.profile {
    display: flex;
}

.description-text__p2 {
    display: inline-block;
}

.description-text__p2_hidden {
    display: none;
}

.content__img {
    margin-right: 25px;
    border-radius: 8px;
    width: 50%;
}

.content {
    display: flex;
}

.description {
    width: 85%;
    margin-right: 48px;
    margin-left: 24px;
}

.main-menu__list {
    margin-left: 24px;
}

.title__text {
    margin-left: 20px;
}

.title {
    margin-bottom: 32px;
}

}

@media (min-width: 1120px) {

    .burger,
    .header__logo,
    .call,
    .chat,
    .profile,
    .header__elem,
    .main-menu__gradient {
        display: none;
    }

    .description-text__p2_hidden {
        display: inline;
    }

    .main-menu__list {
        margin-left: 16px;
        list-style-type: none;
        display: flex;
        overflow: auto;
        flex-wrap: wrap;
    }

    .header {
        margin-top: 23px;
        background-color: #F8F8F8;
        display: flex;
        height: 88px;
        justify-content: end;
        align-items: center;
        box-sizing: border-box;
        gap: 0px;
        /* padding-bottom: 10px; */
    }

    .header-repair,
    .header-checkstatus {
        display: flex;
        align-items: center;
        background-color: #F8F8F8;
    }

    .header-checkstatus__text,
    .header-repair__text {
        display: inline;
        margin-right: 8px;
        font-weight: 500;
    }
    
    .title {
        position: absolute;
        top: 23px;
    }
    
    .title__text {
        margin-left: 28px;
    }

    .description {
        margin-left: 32px;
    }
    
    .header-checkstatus,
    .header-repair {
        margin-right: 32px;
    }
}