html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.header {
    background-color: white;
    display: flex;
    height: 88px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    gap: 16px;
    /* padding-bottom: 10px; */
}

.header__logo {
    margin-right: auto;
}

/* .header__burger {
    margin-left: 16px;
} */

.header-checkstatus__logo {
    margin-right: 16px;
}

body {
    margin: 0;
    /* width: 320px; */
    padding: 0px;
    font-family: "TT Lakes", sans-serif;
    background-color: #F8F8F8;
}

.main {
    margin: 0px;
    padding: 0px;
    /* display: flex;
    justify-content: space-between;
    flex-direction: row; */
}

.h1 {
    display: flex;
    justify-content: start;
}

.h1__text {
    margin-left: 10px;
    font-size: 28px;
}

.main-menu__list {
    margin-left: -24px;
    list-style-type: none;
    display: flex;
    overflow: hidden;
}

.main-menu__element {       
    text-wrap: nowrap;
    padding: 8px 16px 8px 16px;
    
    

}

.main-menu__element:active    {
    background-color: white;    
    border: 2px solid #B8FFEC;
    border-radius: 6px; 
}   

.main-menu__link {
    color: #7E7E82;
    text-decoration: none;
}

.description-more {
    margin-left: 16px;
    width: 132;
    height: 24px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.description-more__text {
    font-size: 16px;
    line-height: 24px;
    color: #1B1C21;
    margin-left: 8px;
    font-weight: 500;
}

.description {
    margin-left: 16px;
    margin-right: 20px;
}

.description-text__p1,
.description-text__p2 {
    font-size: 14px;
    
}

.description-text__p2 {
    display: none;
}

.content__img {
    width: 100%;
}

.header-checkstatus__text,
.header-repair__text {
    display: none;
}

.header__icon {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #FF3E79;
    display: flex;
    align-items: center;
    justify-content: center;
}

.call,
.chat, 
.profile {
    display: none;
}

@media (min-width: 768px) {

.header__elem_hidden,
.call, 
.chat,
.profile {
    display: block;
}

.description-text__p2 {
    display: inline-block;
}

.main-menu__element:nth-child(4), 
.main-menu__element:nth-child(6),
.description-text__p2_hidden {
    display: none;
}

.content__img {
    margin-right: 25px;
    border-radius: 8px;
}

.content {
    display: flex;
}

.description {
    width: 85%;
    margin-right: 48px;
}

}

@media (min-width: 1120px) {

    .header__burger,
    .header__elem_hidden,
    .header__logo,
    .header__call,
    .header__chat,
    .header__profile,
    .header__elem {
        display: none;
    }

    .main-menu__element:nth-child(4),
    .main-menu__element:nth-child(6){
        display: block;
    }

    .description-text__p2_hidden {
        display: inline;
    }

    .main-menu__list {
        margin-left: -24px;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .header {
        margin-top: 42px;
        background-color: #F8F8F8;
        display: flex;
        height: 88px;
        justify-content: end;
        align-items: center;
        box-sizing: border-box;
        gap: 16px;
        /* padding-bottom: 10px; */
    }

    .header-repair,
    .header-checkstatus {
        display: flex;
        align-items: center;
    }

    .header-checkstatus__text,
    .header-repair__text {
        display: inline;
        margin-right: 8px;
        font-weight: 500;
    }
    
    .h1 {
        position: absolute;
        top: 42px;
    }

    .header-checkstatus {
        margin-right: 32px;
    }
}